.container {
  display: flex;
}

.marvel {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.dc {
  display: flex;
  width: 50%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.marvel > .character {
  border: 5px solid red;
  border-radius: 0 25% 0 25%;
}

.dc > .character {
  border: 5px solid blue;
  border-radius: 25% 0 25% 0;
}

.title__marvel {
  color: white;
  font-size: 16px;
  margin-top: -32px;
  position: absolute;
  left: 3%;
}

.title__dc {
  color: white;
  font-size: 16px;
  margin-top: -32px;
  position: absolute;
  right: 43%;
}
